{% block head %}
<title>Home</title>
{% endblock %} {% extends 'base.html' %} {% block content %}
<h1>Todas noticias</h1>

<div class="modal" id="deleteModal" style="visibility: hidden">
	Excluir?
	<div id="tituloNoticia"></div>
	<button onclick="cancel()">Cancelar</button>
	<button onclick="deleteNews()">Sim</button>
</div>
<br />
<table>
	<tr>
		<th>ID</th>
		<th>Titulo</th>
		<th>Assunto</th>
		<th>Resumo</th>
		<th>Editar</th>
		<th>Excluir</th>
	</tr>
	{% for news in newsList %}
	<tr>
		<td>{{news.id}}</td>
		<td>{{news.titulo}}</td>
		<td>{{subjects.get(news.assunto)}}</td>
		<td>{{news.resumo}}</td>
		<td>
			<a href="{{url_for('news.editNews',postId=news.id)}}">Editar</a>
		</td>
		<!-- ignorar o erro-->
		<td><button onclick="handleModal({{news}})">Excluir</button></td>
	</tr>
	{% endfor %}
</table>

<script>
	let toggleModal = false;
	let selectedNews = {};

	function controlModalVisibility() {
		const element = document.getElementById("deleteModal");
		element.style.visibility = toggleModal ? "visible" : "hidden";
	}

	function handleModal(news) {
		selectedNews = news;
		const element = document.getElementById("deleteModal");
		const titulo = document.getElementById("tituloNoticia");
		titulo.innerText = selectedNews.titulo;

		toggleModal = !toggleModal;
		controlModalVisibility();
		controlModalVisibility;
	}

	function deleteNews() {
		const baseUrl = "http://127.0.0.1:8080";

		const url = `${baseUrl}/deletenews?id=${selectedNews.id}`;
		let xhr = new XMLHttpRequest();
		xhr.open("post", url);
		xhr.responseType = "json";
		xhr.send();

		xhr.onload = (event) => {
			if (xhr.status !== 200) {
				alert("erro");
			} else {
				toggleModal = false;
				window.location = "http://127.0.0.1:5000/";
			}
		};

		xhr.onerror = (event) => {
			alert("erro");
		};
	}

	function cancel() {
		toggleModal = false;
		controlModalVisibility();
	}
</script>
{% endblock content %}
