{% block head %}
<title>Login</title>
{% endblock %} {% extends 'base.html' %} {% block content %}
<h1>Faça login</h1>
<form>
  <label for="usuario">Nome</label>
  <input type="text" name="usuario" id="usuario" />
  <br />
  <label for="senha">Senha</label>
  <input type="password" name="senha" id="senha" />
  <br />
  <input type="button" value="Logar" onclick="onLogin()" />
</form>
<label id="mensagemErro" style="color: red"></label>

<script>
      const urlFromService = {{serviceUrl | tojson}}
     const thisProjectUrl = {{projectUrl | tojson}}

  function setMensagemErro() {
  	const element = document.getElementById("mensagemErro");
  	element.innerHTML = `Não foi possivel realizar o login, cheque suas informações`;
  }

  async function onLogin() {
  	const usuario = document.getElementById("usuario").value;
  	const senha = document.getElementById("senha").value;
  	const url = `${urlFromService}/login?user=${usuario}&password=${senha}`;

  	let xhr = new XMLHttpRequest();
  	xhr.open("post", url);
  	xhr.responseType = "json";
  	xhr.send();

  	xhr.onload = (event) => {
  		if (xhr.status !== 200) {
  			setMensagemErro();
  		} else {
  			document.cookie = `user=${usuario}`;
  			window.location = thisProjectUrl;
  		}
  	};

  	xhr.onerror = (event) => {
  		setMensagemErro();
  	};
  }
</script>
{% endblock content %}
